/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


@font-face {
	font-family: 'FuturaBookC';
	src: url('./fonts/futurabookc.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/futurabookc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/futurabookc.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/futurabookc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/futurabookc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/futurabookc.svg#futurabookc') format('svg'); /* Chrome < 4, Legacy iOS */
}
html {
    font-family: "FuturaBookC";
}
a {
    text-decoration: none;
    border: none;
}
/* Начало скрытого меню */
.hidden_menu {
    display: none;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    position: fixed;
    background: rgb(0,0,0);
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 4;
    
}
.hidden_menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
}
/* .hidden_menu .close_hm {
    width: 30px;
    height: 30px;
    background: white url("./images/close_hm.png") no-repeat center/cover;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 5;
} */
.hidden_menu .close_hm:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.hidden_menu .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 40px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.hidden_menu .menu-items a {
    color: white;
    margin-top: 50px;
}

/* Конец скрытого меню */
/* Начало стилизации попап с выбором города */
.city_popup {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(110, 110, 110, 0.8);
    top: 0px;
    margin: 0 auto;
    display: none;
    z-index: 3;
}
.city_popup .popup_window {
    display: block;
    width: 500px;
    height: 500px;
    position: relative;
    background-color: white;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.city_popup .popup_window .close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: -30px;
    background: url("./images/popup_close.png") no-repeat center center;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
}
.city_popup .popup_window .close:hover {
    cursor: pointer;
}
.city_popup .popup_window .top {
    font-size: 36px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 50px;
}
.city_popup .popup_window .middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.city_popup .popup_window .middle .item {
    font-size: 28px;
    line-height: 200%;
    font-weight: 700;
}
.city_popup .popup_window .middle .item:hover {
    cursor: pointer;
}

/* Конец стилизации попапа с выбором города */
/* Начало стилизации попапа с заказом */
.order_popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(110, 110, 110, 0.8);
    top: 0px;
    margin: 0 auto;
    display: none;
    z-index: 3;
}
.order_popup.active {
    display: block;
}
.order_popup .popup_window {
    display: block;
    width: 880px;
    height: 700px;
    position: relative;
    background-color: white;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.order_popup .popup_window .close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: -30px;
    background: url("./images/popup_close.png") no-repeat center center;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
}
.order_popup .popup_window .close:hover {
    cursor: pointer;
}
.order_popup .popup_window .top {
    font-size: 36px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 50px;
}
.order_popup .popup_window .top h2 {
    margin: 0 auto;
}
.order_popup .popup_window .top p {
    font-size: 15px;
}
.order_popup .popup_window .form_item {
    height: 75px;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.order_popup .popup_window .agree {
    height: 35px;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.order_popup .popup_window .form_item label {
    font-size: 18px;
}
.order_popup .popup_window .form_item input {
    width: 90%;
    height: 40px;
    border: none;
}
.order_popup .popup_window .form_submit {
    width: 260px;
    height: 50px;
    position: relative;
    margin: 0 auto;
}
.order_popup .popup_window .form_submit:hover {
    cursor: pointer;
}
.order_popup .popup_window .form_submit input {
    width: 260px;
    height: 50px;
    background: transparent;
    border: none;
}
.order_popup .popup_window .form_submit .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 210, 0) ;
    z-index: -1;
    -webkit-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
            transform: skewX(-20deg);
    -webkit-box-shadow: 2px 2px rgb(0,0,0);
            box-shadow: 2px 2px rgb(0,0,0);
}

/* Конец стилизации попапа с заказом */
header {
    width: 100%;
    height: 105px;
    background: url('./images/header_background.jpg') no-repeat center/cover;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    z-index: 0;
}

header .logo {
    width: 114px;
    height: 105px;
    display: block;
    position: relative;
    background: url("./images/logo.png") no-repeat center center;
    top: -3px;
}

header .menu-items {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
header .menu-items a {
    color: white;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    z-index: 2;
}
header .menu-items:hover {
    cursor: pointer;
}
header .menu-items a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 210, 0);
    bottom: -3px;
    left: 0px;
    border: none;
}
header .menu-items a.active {
    color: black;

    z-index: 2;
}
header .menu-items a.active .before {
    position: absolute;
    width: 140%;
    height: 140%;
    background-color: rgb(255, 210, 0);
    left: -20%;
    top: -20%;
    z-index: -1;
    -webkit-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
            transform: skewX(-20deg);
}
  
header .city-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
header .city-order .city {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
header .city-order .city:hover {
    cursor: pointer;
}
  
header .city-order .city img {
    margin-right: 10px;
}
header .city-order .city p.city_name {
    color: white;
    text-transform: uppercase;
    margin-right: 40px;
    letter-spacing: 1px;
}
header .city-order .order {
    position: relative;
}
header .city-order .order:hover {
    cursor: pointer;
}
header .city-order p {
    position: relative;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    
}
header .city-order .order .background {
    width: 140%;
    height: 90%;
    position: absolute;
    left: -20%;
    top: 5%;
    background-color: white ;
    z-index: -1;
    -webkit-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
            transform: skewX(-20deg);
    -webkit-box-shadow: 2px 2px rgb(255, 210, 0);
            box-shadow: 2px 2px rgb(255, 210, 0);
}
/* Конец стилизации хэдэра */
/* Начало стилизации бургер-меню */
/* HAMBURGER 4 */
.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

h1 {
    text-align: center;
}

.container_burger {
    margin: 0;
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30px;
    right: 30px;
    z-index: 4;
}

.container_burger .hamburger {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: 10px;
}

.container_burger .hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: white;
    display: block;
    border-radius: 4px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.container_burger .bar1 {
    top: 0;
}

.container_burger .bar2,
.container_burger .bar3 {
    top: 13.5px;
}

.container_burger .bar3 {
    right: 0;
}

.container_burger .bar4 {
    bottom: 0;
}
.container_burger .hamburger2 .bar2,
.container_burger .hamburger3 .bar3,
.container_burger .hamburger4 .bar4 {
    top: 13.5px;
}

.container_burger .hamburger4 .bar5 {
    bottom: 0px;
}

.container_burger .hamburger4 .bar {
    -webkit-transition: all 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out 0.4s;
    transition: all 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out 0.4s;
    -o-transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s, -webkit-transform 0.4s ease-in-out 0.4s;
}

.container_burger .hamburger4 .bar2 {
    width: 1px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 13.5px;
}

.container_burger .hamburger4 .bar3 {
    width: 1px;
    left: 13.5px;
    
}
.container_burger label[for="checkbox4"] {
    height: 30px;
}

.container_burger .checkbox4:checked + label > .hamburger4 > .bar1{
    top: 13.5px;
    background-color: transparent;
}

.container_burger .checkbox4:checked + label > .hamburger4 > .bar2{
    left: 0px;
    width: 30px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.container_burger .checkbox4:checked + label > .hamburger4 > .bar3{
    left: 0;
    width: 30px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.container_burger .checkbox4:checked + label > .hamburger4 > .bar4{
    background-color: transparent;
}

.container_burger .checkbox4:checked + label > .hamburger4 > .bar5{
    bottom: 13.5px;
    background-color: transparent; 
}

/* Конец стилизации бургер-меню */

.part {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: none;
}
.part.active {
    display: block;
}
.part .title {
    display: block;
    font-size: 58px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    height: 80px;
    
}
/* О компании начало */
.part.active.about { 
    width: 100%;
    display: block;
    position: relative;

}
.part.active.about .about_body {
    width: 85%;
    margin-left: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 711px;
    margin-top: 0px;
    position: relative;
}
.part.active.about .about_body .text {
    width: 720px;
    position: relative;
    left: 0;
    top: 0px;
    font-size: 24px;
    white-space: pre-line;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}
.part.active.about .about_body .text .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 50px;
}
.part.active.about .about_body .text .buttons .order_button  {
    width: 280px;
    height: 50px;
    position: relative;
    white-space: nowrap;
    z-index: 2;
}
.part.active.about .about_body .text .buttons .order_button:hover {
    cursor: pointer;
}
.part.active.about .about_body .text .buttons .order_button p {
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
}
.part.active.about .about_body .text .buttons .order_button .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 210, 0) ;
    z-index: -1;
    -webkit-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
            transform: skewX(-20deg);
    -webkit-box-shadow: 2px 2px rgb(0,0,0);
            box-shadow: 2px 2px rgb(0,0,0);
}
.part.active.about .about_body .text .buttons .find_dealer_button  {
    width: 280px;
    height: 50px;
    position: relative;
    white-space: nowrap;
    z-index: 2;
}
.part.active.about .about_body .text .buttons .find_dealer_button:hover {
    cursor: pointer;
}
.part.active.about .about_body .text .buttons .find_dealer_button p {
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
}
.part.active.about .about_body .text .buttons .find_dealer_button .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 210, 0) ;
    z-index: -1;
    -webkit-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
            transform: skewX(-20deg);
    -webkit-box-shadow: 2px 2px rgb(0,0,0);
            box-shadow: 2px 2px rgb(0,0,0);
}
.part.active.about .image {
    width: 950px;
    height: 711px;
    background: url('./images/about_background.png');
    position: absolute;
    right: 0;
    top: 0px;
    z-index: -1;
}
/* О компании конец */
.part .tabs {
    width: 800px;
    height: 150px;
    -webkit-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
            transform: skewX(-20deg);
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
}
.part .tabs .top_tabs {
    width: 100%;
    height: 50px;
    border: 2px solid rgb(255, 210, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.part .tabs .top_tabs .top_tab {
    font-weight: 700;
    text-align: center;
    width: 33%;
    height: 100%;
    line-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.part .tabs .top_tabs .top_tab p {
    line-height: 50px;
    width: 100%;
    text-align: center;
    -webkit-transform: skewX(20deg);
        -ms-transform: skewX(20deg);
            transform: skewX(20deg);
}

.part .tabs .top_tabs .top_tab:hover {
cursor: pointer;
}
.part .tabs .top_tabs .top_tab.active {
    background-color: rgb(255, 210, 0);
}
/* Средние табы в каталоге */
.part .tabs .middle_tabs {
    width: 100%;
    height: 50px;
    border: 2px solid rgb(0,0,0);
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.part .tabs .middle_tabs .middle_tab {
    font-weight: 700;
    text-align: center;
    width: 15%;
    height: 100%;
    line-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;;
}
.part .tabs .middle_tabs .middle_tab p {
    line-height: 50px;
    width: 100%;
    text-align: center;
    -webkit-transform: skewX(20deg);
        -ms-transform: skewX(20deg);
            transform: skewX(20deg);
    color: white;
}


.part .tabs .middle_tabs .middle_tab:hover p {
cursor: pointer;
color: rgb(255, 210, 0);
}
.part .tabs .middle_tabs .middle_tab.active p {
    color: rgb(255, 210, 0);
}

/* Нижние табы в каталоге */
.part .tabs .bottom_tabs {
    width: 100%;
    height: 50px;
    border: 2px solid rgb(0,0,0);
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.part .tabs .bottom_tabs .bottom_tab {
    font-weight: 700;
    text-align: center;
    height: 100%;
    line-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;;
}
.part .tabs .bottom_tabs .bottom_tab p {
    line-height: 50px;
    width: 100%;
    text-align: center;
    -webkit-transform: skewX(20deg);
        -ms-transform: skewX(20deg);
            transform: skewX(20deg);
    color: white;
}

.part .tabs .bottom_tabs .bottom_tab:hover p {
cursor: pointer;
color: rgb(255, 210, 0);
}
.part .tabs .bottom_tabs .bottom_tab.active p {
    color: rgb(255, 210, 0);
}
/* Стили для контейнера товаров */
.part .goods_container {
    width: 1376px;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 80px;
}
.part .goods_container .goods_item {
    width: 25%;
    height: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border: 1px solid rgba(110, 110, 110, 0.4);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;

}
.part .goods_container .goods_item .name {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.part .goods_container .goods_item .image {
    width: 250px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}
.part .goods_container .goods_item .price {
    font-size: 24px;
    font-weight: 500px;
}
/* Пагинация */
.part.active .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
ul.pagination {
    display: block;
    padding: 0;
    margin: 0 auto;
    margin-top: 30px;
    height: 40px;
    text-align: center;
}

ul.pagination li {display: inline;}


ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgba(110, 110, 110, 0.4);
}
ul.pagination li a:hover {
    cursor: pointer;
}
ul.pagination li a.active {
    background-color: rgba(110, 110, 110, 0.8);
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.show_more {
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border: 1px solid rgba(110, 110, 110, 0.8);
    background-color: rgb(0,0,0);
    -webkit-box-shadow: 2px 2px rgba(0,0,0, 0.4);
            box-shadow: 2px 2px rgba(0,0,0, 0.4);
    color: white;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    line-height: 50px;
    -webkit-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
            transform: skewX(-20deg);
}
.show_more:hover {
    cursor: pointer;
    color: yellow;
    -webkit-box-shadow: 2px 2px rgb(255, 210, 0);
            box-shadow: 2px 2px rgb(255, 210, 0);

}
/* Стили карты */
.part_map .map_container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.part_map .map_container .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 379px;
}
.part_map .map_container .sidebar .top_sidebar {
    width: 100%;
    margin-bottom: 30px;
}
.part_map .map_container .sidebar .top_sidebar p.city_name {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(255, 210, 0);
    line-height: 50px;
    font-size: 24px;
    padding-left: 30px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
}
.part_map .map_container .sidebar .top_sidebar p.city_name::before {
    content: "";
    position: absolute;
    background: url('./images/map_icon.png') no-repeat center center;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 0px;
}
.part_map .map_container .sidebar .bottom_sidebar {
    width: 100%;
    border: 1px solid rgba(110, 110, 110, 0.4);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 10px 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}
.part_map .map_container .sidebar .bottom_sidebar .bottom_sidebar_item {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.part_map .map_container .sidebar .bottom_sidebar .name {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}
.part_map .map_container .sidebar .bottom_sidebar .feature {
    font-size: 18px;
    line-height: 140%;
}
.part_map .map_container .sidebar .bottom_sidebar hr {
    width: 100%;
}

.part_map .map_container .map_main {
    width: 100%;
    padding-left: 50px;
    padding-right: 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.part_map .map_container .map_main .map_item {
    display: none;
}
.part_map .map_container .map_main .map_item.active {
    display: block;
}

/* Конец стилей карты */
/* Адаптация под разные устройства */
@media screen and (max-width:1800px) {
    .part.active.about .image {
        background: rgba(255, 255, 255, .8) url(./images/about_background.png);
        background-blend-mode: color;
        z-index: -2;
    }
    .part_map .map_container .map_main {
        width: 85%;
        padding-right: 30px;
        padding-left: 30px;
    }
    .part_map .map_container .sidebar {
        width: 15%;
    }
}
@media screen and (max-width:1600px) {
    .part_map .map_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .part_map .map_container .sidebar {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
    }
    .part_map .map_container .sidebar .top_sidebar {
        width: 20%;
    }
    .part_map .map_container .sidebar .bottom_sidebar {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        border: none;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .part_map .map_container .map_main {
        width: 100%;
        padding: 0;
    }
    .part_map .map_container .sidebar .bottom_sidebar .bottom_sidebar_item {
        margin: 0 auto;
    }
    .part_map .map_container .sidebar .bottom_sidebar hr {
        display: none;
    }
}

@media screen and (max-width:1400px) {
    .part .goods_container {
        width: 100%;
    }
    .part .goods_container .goods_item .image {
        position: relative;
        width: 100%;
    }
    .part .goods_container .goods_item .image img {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width:1200px) {

    header .city-order {
        margin-right: 4%;
    }
}
@media screen and (max-width:1000px) {
    .container_burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    header .menu-items {
        display: none;
    }
    .part .goods_container .goods_item {
        width: 33.33%;
    }
}
@media screen and (max-width:900px) {
    header .city-order {
        margin-right: 120px;
    }
    .part .tabs .top_tabs .top_tab p {
        -webkit-transform: skewX(0deg);
            -ms-transform: skewX(0deg);
                transform: skewX(0deg);
        margin: 0 auto;
        line-height: 30px;
    }
    .part .tabs {
        -webkit-transform: skewX(0deg);
            -ms-transform: skewX(0deg);
                transform: skewX(0deg);
        width: auto;
        height: auto;
    }
    .part .tabs .middle_tabs .middle_tab p {
        -webkit-transform: skewX(0deg);
            -ms-transform: skewX(0deg);
                transform: skewX(0deg);
        margin: 0 auto;
        line-height: 30px;
        margin-right: 50px;
    }
    .part .tabs .bottom_tabs .bottom_tab p {
        -webkit-transform: skewX(0deg);
            -ms-transform: skewX(0deg);
                transform: skewX(0deg);
        margin: 0 auto;
        line-height: 30px;
        margin-right: 50px;
    }
    .part .tabs .middle_tabs {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: auto;
    }
    .part .tabs .bottom_tabs {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: auto;
    }
    .part .tabs .middle_tabs .middle_tab {
        width: auto;
    }
 
}
@media screen and (max-width: 650px) {
    .part .goods_container .goods_item {
        width: 50%;
    }
    header {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header .logo {
        height: 40px;
        width: 50px;
        background: url("./images/logo.png") no-repeat center/cover;
        margin-right: 20px;
    }
    header .city-order {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        height: 100%;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    header .city-order .city p.city_name {
        margin: 0 auto;
    }
    header .city-order .order p {
        margin: 0 auto;
    }
    header .city-order .order .background {
        width: 120%;

        height: 140%;

        left: -10%;
        top: -20%;
    }
    header .city-order {
        margin-right: 0px;
    }
    .part.active.about .about_body .text .buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .part.active.about .about_body .text .buttons .order_button {
        margin-bottom: 30px;
        width: 250px;
    }
    .part.active.about .about_body .text .buttons .find_dealer_button {
        width: 250px;
    }
    .part.active.about .about_body {
        height: auto;
        margin: 0 auto;
    }
    .part.active.about .image {
        display: none;
    }
    .part_map .map_container .sidebar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .part_map .map_container .sidebar .bottom_sidebar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 10px;
    }
    .part_map .map_container .sidebar .bottom_sidebar hr {
        display: block;
    }
    
}
@media screen and (max-width: 450px) {
    .part .goods_container .goods_item {
        width: 100%;
    }   
    .part .title {
        margin: 20px;
        font-size: 36px;
        height: auto;
    }
    .part_map .map_container .sidebar .top_sidebar {
        width: 100%;
    }
}